/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration-line: none;
	color: black;
}

nav li a span {
	font-weight: 600;
}

li:hover {
	color: #B1663C;
}

/* edit bar */

.banner-edit {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.banner-edit i {
	margin-right: 10px;
}

.edit-text {
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 18.77px;
	margin-left: 12px;
	text-align: center;
}

/* modal */

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
}

.modal-container {
	background: white;
	padding: 0 105px 55px;
	border-radius: 10px;
	max-width: 630px;
	width: 100%;
	position: relative;
	z-index: 1000;
}

.close-modal {
	font-size: 20px;
	position: absolute;
	top: 32px;
	right: 32px;
	cursor: pointer;
}

.modal-title {
	padding: 60px 0 48px 0;
	display: block;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
}

.modal-image-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 29px 9px;
	margin-bottom: 20px;
}

.image-container {
	position: relative;
}

.image-container img {
	width: 100%;
	height: 100%;
}

.delete-button {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
}

.separator-line {
	border: none;
	border-top: 1px solid #B3B3B3;
	margin: 32px 0; /* Adjust the margin as needed */
  }

.add-photo-button {
	display: block;
	margin: auto;
	color: #306685;
	color: white;
	border: none;
	padding: 10px 49px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	line-height: 16.8px;
	text-align: center;
}

/* second modal */

/* Styles for the upload area */
.upload-area {
	height: 169px;
	width: 100%;
	background-color: #EAF1F6; /* Light blue background */
	border-radius: 10px;
	text-align: center;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.previous-modal {
	font-size: 20px;
	position: absolute;
	top: 32px;
	left: 32px;
	cursor: pointer;
}

/* Placeholder image */
.img-placeholder {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img-placeholder i {
    margin: 11px;
    font-size: 80px; /* Adjust size of the icon */
    color: #C0CCD9; /* Light grayish blue */
}

.image-preview {
    display: none;
	max-width: 100%;
    width: 129px;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Upload button */
.add-photo-button2 {
	background: #CBD6DC;
	border: none;
	color: #306685;
	padding: 10px 33px;
	border-radius: 20px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: center;
	margin-bottom: 7px;
}

.add-photo-button {
	display: block;
	margin: auto;
	background: #1D6154;
	color: white;
	border: none;
	padding: 10px 33px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	line-height: 16.8px;
	text-align: center;
}

.add-photo-button2:hover {
    background-color: #AABBC9; /* Darken the button on hover */
}

/* Instructions for image format and size */
.upload-instructions {
    font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 11.73px;
	text-align: center;
	color: #444444;
	margin-bottom: 19px;
}

.form-label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: left;
	color: #3D3D3D;

}

.form-input, .form-select {
    width: 100%;
	height: 51px;
    padding: 10px;
	border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
	box-shadow: 0px 4px 14px 0px #00000017;

}

.validate-button {
	display: block;
	margin: auto;
	color: white;
	border: none;
	padding: 12px 99px;
	border-radius: 20px;
	cursor: initial;
	background: #585b5b;
	transition: background-color 0.3s;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	line-height: 16.8px;
	text-align: center;
}

.modal-container > .enabled {
	cursor: pointer;
	background: #1D6154;
}

#introduction {
	display: flex;
	align-items: center;
	padding: 139px 0px 89px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.portfolio-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	/* Adjust this as needed */
	text-align: center;
}

#portfolio h2 {
	margin: 0;
	font-size: 2em;
	/* Adjust the size as needed */
	display: flex;
	align-items: center;
}

.edit-portfolio {
	display: none;
	align-items: center;
	margin-left: 31px;
	/* Space between the title and the edit text */
	cursor: pointer;
}

.edit-portfolio span {
	color: #000000;
	/* Text color for "modifier" */
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.42px;
	text-align: center;
}

.edit-portfolio i {
	margin-right: 10.42px;
	/* Space between the icon and the text */
}

.filters {
	display: flex;
	justify-content: center;
	margin: 51px 0;
}

.filters button {
	padding: 9px 30px;
	margin-right: 10px;
	border-radius: 60px;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.2px;
	text-align: center;
	color: #1D6154;
	border: 1px solid #1D6154;
	background: white;
	cursor: pointer;

}

.filters .category-btn {
	color: #1D6154;
	margin-left: 8px;
}

.filters .active {
	color: #FFFFFF;
	background: #1D6154;
	border: 1px solid #1D6154;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* login page */

#login {
	width: 50%;
	margin: 150px auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login form a {
	color: #3D3D3D;
	text-align: center;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#error-message {
	margin-top: 10px;
	display: none;
	color: red;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}